PORT=8080
TIME_ZONE=Asia/Dhaka

LOG_LEVEL_API=info

HIDE_BANNER=false
HIDE_PORT=false

MASTER_DB_NAME=todo_service_db
MASTER_DB_USER=postgres
MASTER_DB_HOST=localhost
MASTER_DB_PORT=5432
MASTER_DB_PASSWORD=postgres
MASTER_SSL_MODE=disable

TEST_DB_NAME=test_db

REPLICA_DB_NAME=todo_service_db
REPLICA_DB_USER=postgres
REPLICA_DB_HOST=localhost
REPLICA_DB_PORT=5432
REPLICA_DB_PASSWORD=postgres
REPLICA_SSL_MODE=disable